@page
@model asp_hoteles.Pages.RegistrarseModel
@{
    Layout = null;
}
@{
    ViewData["Titulo"] = lib_lenguajes.RsMenu.lbPersonas;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/stylesD.css" />
<link rel="stylesheet"
      href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet"
      href="~/css/site.css"
      asp-append-version="true" />
<link rel="stylesheet"
      href="~/asp_hoteles.styles.css"
      asp-append-version="true" />
<link rel="stylesheet"
      href="~/css/site.css" />
<link rel="stylesheet"
      href="~/css/styles.css" />
<link rel="stylesheet"
      href="~/css/buttons.css" />
<link rel="stylesheet"
      href="~/css/colors.css" />
<link rel="stylesheet"
      href="~/css/screens.css" />
<body style="background-color:#FFE8E8">

<section class="h-100 gradient-form" style="background-color:#FFE8E8">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <h4 class="mt-1 mb-5 pb-1">Regístrate</h4>
                                </div>

                                <form method="POST" enctype="multipart/form-data">
                                    @Html.AntiForgeryToken()

                                    <input type="hidden"
                                           asp-for="@Model.Actual!.Id" />
                                    <input type="hidden"
                                           asp-for="@Model.Actual!.TipoDocumento" />
                                    <input type="hidden"
                                           asp-for="@Model.Actual!._TipoDocumento!.Nombre" />
                                    <input type="hidden"
                                           asp-for="@Model.Actual!.Ciudad" />
                                    <input type="hidden"
                                           asp-for="@Model.Actual!._Ciudad!.Nombre" />
                                    <input type="hidden"
                                           asp-for="@Model.Actual!.Genero" />
                                    <input type="hidden"
                                           asp-for="@Model.Actual!._Genero!.Nombre" />
                                    <input type="hidden"
                                           asp-for="@Model.Actual!.Activo" />
            
            @if (!ViewData.ContainsKey("Mensaje"))
            {
                                    <div class="form-group mb-4">
                                        <label class="form-label">@lib_lenguajes.RsPersonas.lbTipoDocumento</label>
                                        <input id="nmTipoDocumentos" disabled="disabled" class="form-control" 
                                        onchange="keyUp(this)" asp-for="@Model.Actual!._TipoDocumento!.Nombre" />
                                            <input type="submit"
                                                   value=" "
                                                   asp-page-handler="BtTipos"
                                                   asp-route-data="TipoDocumentos"
                                                   class="btn btn-danger mt-2" />
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="form-label">@lib_lenguajes.RsPersonas.lbDocumento</label>
                                            <input id="nmDocumento" class="form-control" onchange="keyUp(this)" asp-for="@Model.Actual!.Documento" />
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="form-label">@lib_lenguajes.RsPersonas.lbNombre</label>
                                        <input id="nmNombre" class="form-control" onchange="keyUp(this)" asp-for="@Model.Actual!.Nombre" />
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="form-label">@lib_lenguajes.RsPersonas.lbFechaNacimiento</label>
                                            <input id="nmFechaNacimiento" class="form-control" onchange="keyUp(this)" asp-for="@Model.Actual!.FechaNacimiento" />
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="form-label">@lib_lenguajes.RsPersonas.lbCelular</label>
                                            <input id="nmCelular" class="form-control" onchange="keyUp(this)" asp-for="@Model.Actual!.Celular" />
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="form-label">@lib_lenguajes.RsPersonas.lbGenero</label>
                                            <input id="nmGenero" disabled="disabled" class="form-control" onchange="keyUp(this)"
                                            asp-for="@Model.Actual!._Genero!.Nombre" />
                                            <input type="submit"
                                                   value=" "
                                                   asp-route-data="Generos"
                                                   asp-page-handler="BtTipos"
                                                   class="btn btn-danger mt-2" />
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="form-label">@lib_lenguajes.RsPersonas.lbDireccion</label>
                                            <input id="nmDireccion" class="form-control" onchange="keyUp(this)" asp-for="@Model.Actual!.Direccion" />
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="form-label">@lib_lenguajes.RsPersonas.lbEmail</label>
                                            <input id="nmEmail" type="email" class="form-control" onchange="keyUp(this)" asp-for="@Model.Actual!.Email" />
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="form-label">@lib_lenguajes.RsPersonas.lbContraseña</label>
                                            <input id="nmContraseña" type="password" class="form-control" onchange="keyUp(this)" asp-for="@Model.Actual!.Contraseña" />
                                    </div>
                                       
                                    <div class="form-group mb-4">
                                            <label class="form-label">@lib_lenguajes.RsPersonas.lbCiudad</label>
                                            <input id="nmCiudad" disabled="disabled" class="form-control" onchange="keyUp(this)" asp-for="@Model.Actual!._Ciudad!.Nombre" />
                                            <input type="submit"
                                                   value=" "
                                                   asp-page-handler="BtCiudades"
                                                   class="btn btn-danger mt-2" />
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <input type="submit" value="@lib_lenguajes.RsMenu.lbGuardar" asp-page-handler="BtGuardar" class="btn btn-primary btn-block fa-lg mb-3" />
                                    </div>

                                    <div class="text-center">
                                        <p class="mb-0">¿Ya tienes una cuenta?</p>
                                        <a class="text-muted" asp-area="" asp-page="InicioCliente">Iniciar sesión</a>
                                    </div>
                                    }
                                    @if (ViewData.ContainsKey("Mensaje"))
                                    {
                                        @await Html.PartialAsync(
                                                 "./Emergentes/Mensajes.cshtml")
                                    }

                                    @if (Model.MostrarCiudades)
                                    {
                                        <div class='popup'>
                                            <div class='pp_inner' style="background-color:#FFF0F0;">
                                                <div style='width:95%'>
                                                    @await Html.PartialAsync(
                                                             "./Emergentes/CiudadesPP.cshtml", Model.ciudadesPP)
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (Model.MostrarTipos)
                                    {
                                        <div class='popup'>
                                            <div class='pp_inner' style="background-color:#FFF0F0;">
                                                <div style='width:95%'>
                                                    @await Html.PartialAsync(
                                                             "./Emergentes/TiposPP.cshtml", Model.tiposPP)
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">¡Bienvenido!</h4>
                                <p class="small mb-0">Por favor, completa el formulario para registrarte y comenzar a disfrutar de nuestros servicios.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>