@page
@model InicioCliente

@{
    ViewData["Titulo"] = lib_lenguajes.RsAdmin.lbTitulo;
}
    <link rel="stylesheet" 
        href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/stylesD.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

@if (!Model.EstaLogueado)
{
    <section class="h-100 gradient-form" style="background-color: #FFE8E8;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">
                                    <div class="text-center">
                                        <h3 class="mt-1 mb-5 pb-1">@lib_lenguajes.RsAdmin.lbTitulo</h3>
                                    </div>

                                    <form method="POST">
                                        <p class="text-center">Por favor, inicia sesión en tu cuenta</p>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <label class="form-label">@lib_lenguajes.RsAdmin.lbUsuario</label>
                                            <input onchange="keyUp(this)"
                                                   asp-for="@Model.Email"
                                                   class="form-control" />
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <label class="form-label">@lib_lenguajes.RsAdmin.lbContraseña</label>
                                            <input type="password"
                                                   onchange="keyUp(this)"
                                                   asp-for="@Model.Contraseña"
                                                   class="form-control" />
                                        </div>

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <input type="submit"
                                                   value="@lib_lenguajes.RsMenu.lbEntrar"
                                                   asp-page-handler="BtEntrar"
                                                   class="btn btn-danger btn-block fa-lg gradient-custom-2 mb-3" />

                                        </div>
                                        <div class="text-center">
                                            <a class="text-muted" asp-area="" asp-page="Registrarse">Regístrate</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">¡Bienvenido!</h4>
                                    <p class="small mb-0">Por favor, ingresa tus datos para acceder a tu cuenta.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
else
{
    <main class="d-flex align-items-center justify-content-center" style="height: 100vh; background-color: #FFE8E8;">
        
        <div class="text-center">
            <h1 class="display-4">@lib_lenguajes.RsAdmin.lbBienvenido</h1>
            <form method="POST">
                <input type="submit" value="@lib_lenguajes.RsMenu.lbCerrar" asp-page-handler="BtCerrar" class="btn btn-default" />
            </form>
        </div>
    </main>
}
