@page
@model asp_hoteles.Pages.Ventanas.CiudadesModel
@{
    ViewData["Titulo"] = lib_lenguajes.RsMenu.lbCiudades;
}
<center>
    <div>
        <form method="POST"
            enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>@lib_lenguajes.RsMenu.lbCiudades</h3>
            </div>
            <div align="left"
                class="bt_panel_buttons">
                <input type="submit"
                    value="@lib_lenguajes.RsMenu.lbRefrescar"
                    asp-page-handler="BtRefrescar"
                    class="btn btn-danger"
                    disabled="@(!Model.MostrarLista)" />
                <input type="submit"
                    value="@lib_lenguajes.RsMenu.lbNuevo"
                    asp-page-handler="BtNuevo"
                    class="btn btn-danger"
                    disabled="@(!Model.MostrarLista)" />
                <input type="submit"
                    value="@lib_lenguajes.RsMenu.lbGuardar"
                    asp-page-handler="BtGuardar"
                    class="btn btn-danger"
                    disabled="@(Model.MostrarLista)" />
                <input type="submit"
                    value="@lib_lenguajes.RsMenu.lbCancelar"
                    asp-page-handler="BtCancelar"
                    class="btn btn-danger"
                    disabled="@(Model.MostrarLista)" />
            </div>
            
            @if (!Model.MostrarLista ||
                 Model.MostrarBorrar ||
                 ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                   asp-for="@Model.Actual!.Id" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Departamento" />
            }
            @if (Model.MostrarBorrar ||
                 ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                   asp-for="@Model.Actual!.Nombre" />
            }

            @if (!Model.MostrarLista &&
                 !ViewData.ContainsKey("Mensaje"))
            {
                <div class="panel panel-default">
                    <h3>@lib_lenguajes.RsCiudades.lbSingular</h3>

                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                @lib_lenguajes.RsCiudades.lbNombre
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNombre"
                                    class="cts_forms form-control"
                                    onchange="keyUp(this)"
                                    asp-for="@Model.Actual!.Nombre" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                @lib_lenguajes.RsCiudades.lbDepartamento
                            </label>
                            <div class="col-lg-6">
                                <input id="nmDepartamento"
                                    disabled="disabled"
                                    class="cts_forms form-control"
                                    onchange="keyUp(this)"
                                    asp-for="@Model.Actual!._Departamento!.Nombre" />
                                <input type="submit"
                                    value=" "
                                    asp-page-handler="BtDepartamentos"
                                       class="btn btn-danger mt-2" />
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync(
                    "../Emergentes/Mensajes.cshtml")
            }

            @if (Model.MostrarDepartamentos)
            {
                <div class='popup'>
                    <div class='pp_inner'>
                        <div style='width:95%'>
                            @await Html.PartialAsync(
                                "../Emergentes/DepartamentosPP.cshtml", Model.departamentosPP)
                        </div>
                    </div>
                </div>
            }

            @if (Model.MostrarBorrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                @lib_lenguajes.RsMenu.lbMensaje
                            </h2>

                            <h4 align="left">
                                @lib_lenguajes.RsMenu.lbBorrarEntidad
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.Nombre
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                               value="@lib_lenguajes.RsMenu.lbBorrar"
                               asp-page-handler="BtBorrar"
                               class="btn btn-danger" />
                            <input type="submit"
                               value="@lib_lenguajes.RsMenu.lbCerrar"
                               asp-page-handler="BtCancelar"
                               class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.MostrarLista)
            {
                <div class="panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                @lib_lenguajes.RsCiudades.clPais
                            </th>
                            <th>
                                @lib_lenguajes.RsCiudades.clDepartamento
                            </th>
                            <th>
                                @lib_lenguajes.RsCiudades.clNombre
                            </th>
                            <th class="cl_actions">
                                @lib_lenguajes.RsMenu.lbAction
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr onmouseover="changeOver(this)"
                                    onmouseout="changeOut(this)">
                                    <td>@elemento._Departamento!._Pais!.Nombre</td>
                                    <td>@elemento._Departamento!.Nombre</td>
                                    <td>@elemento.Nombre</td>
                                    <td>
                                        <input type="submit"
                                            value="@lib_lenguajes.RsMenu.lbModicar"
                                            asp-page-handler="BtModificar"
                                            class="btn btn-danger"
                                            asp-route-data="@asp_hoteles.Nucleo.EsconderID.Encriptar(elemento.Id)"/>
                                        <input type="submit"
                                            value="@lib_lenguajes.RsMenu.lbBorrar"
                                            asp-page-handler="BtBorrarVal"
                                            class="btn btn-danger"
                                            asp-route-data="@asp_hoteles.Nucleo.EsconderID.Encriptar(elemento.Id)"/>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>