@page
@model asp_hoteles.Pages.Ventanas.ProductosModel
@{
    ViewData["Titulo"] = lib_lenguajes.RsMenu.lbProductos;
}
<center>
    <div>
        <form method="POST"
            enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>@lib_lenguajes.RsMenu.lbProductos</h3>
            </div>
            <div align="left"
                class="bt_panel_buttons">
                <input type="submit"
                    value="@lib_lenguajes.RsMenu.lbRefrescar"
                    asp-page-handler="BtRefrescar"
                    class="btn btn-danger"
                    disabled="@(!Model.MostrarLista)" />
                <input type="submit"
                    value="@lib_lenguajes.RsMenu.lbNuevo"
                    asp-page-handler="BtNuevo"
                    class="btn btn-danger"
                    disabled="@(!Model.MostrarLista)" />
                <input type="submit"
                    value="@lib_lenguajes.RsMenu.lbGuardar"
                    asp-page-handler="BtGuardar"
                    class="btn btn-danger"
                    disabled="@(Model.MostrarLista)" />
                <input type="submit"
                    value="@lib_lenguajes.RsMenu.lbCancelar"
                    asp-page-handler="BtCancelar"
                    class="btn btn-danger"
                    disabled="@(Model.MostrarLista)" />
            </div>
            
            @if (!Model.MostrarLista ||
                 Model.MostrarBorrar ||
                 ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                   asp-for="@Model.Actual!.Id" />
                <input type="hidden"
                   asp-for="@Model.Actual!.FechaIngreso" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Categoria" />
                <input type="hidden"
                   asp-for="@Model.Actual!._Categoria!.Nombre" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Proveedor" />
                <input type="hidden"
                   asp-for="@Model.Actual!._Proveedor!.Nombre" />
            }
            @if (Model.MostrarBorrar ||
                 ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                   asp-for="@Model.Actual!.Codigo" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Nombre" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Valor" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Costo" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Cantidad" />
                <input type="hidden"
                   asp-for="@Model.Actual!.FechaVencimiento" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Lote" />
            }

            @if (!Model.MostrarLista &&
                 !ViewData.ContainsKey("Mensaje"))
            {
                <div class="panel panel-default">
                    <h3>@lib_lenguajes.RsProductos.lbSingular</h3>

                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                @lib_lenguajes.RsProductos.lbCodigo
                            </label>
                            <div class="col-lg-6">
                                <input id="nmCodigo"
                                    class="cts_forms form-control"
                                    onchange="keyUp(this)"
                                    asp-for="@Model.Actual!.Codigo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                @lib_lenguajes.RsProductos.lbNombre
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNombre"
                                   class="cts_forms form-control"
                                   onchange="keyUp(this)"
                                   asp-for="@Model.Actual!.Nombre" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                @lib_lenguajes.RsProductos.lbValor
                            </label>
                            <div class="col-lg-6">
                                <input id="nmValor"
                                   class="cts_forms form-control"
                                   onchange="keyUp(this)"
                                   asp-for="@Model.Actual!.Valor" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                @lib_lenguajes.RsProductos.lbCosto
                            </label>
                            <div class="col-lg-6">
                                <input id="nmCosto"
                                   class="cts_forms form-control"
                                   onchange="keyUp(this)"
                                   asp-for="@Model.Actual!.Costo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                @lib_lenguajes.RsProductos.lbCantidad
                            </label>
                            <div class="col-lg-6">
                                <input id="nmCantidad"
                                   class="cts_forms form-control"
                                   onchange="keyUp(this)"
                                   asp-for="@Model.Actual!.Cantidad" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                @lib_lenguajes.RsProductos.lbFechaIngreso
                            </label>
                            <div class="col-lg-6">
                                <label class="col-lg-4 control-label">
                                    @Model.Actual!.FechaIngreso
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                @lib_lenguajes.RsProductos.lbFechaVencimiento
                            </label>
                            <div class="col-lg-6">
                                <input id="nmFechaVencimiento"
                                   class="cts_forms form-control"
                                   onchange="keyUp(this)"
                                   asp-for="@Model.Actual!.FechaVencimiento" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                @lib_lenguajes.RsProductos.lbLote
                            </label>
                            <div class="col-lg-6">
                                <input id="nmLote"
                                   class="cts_forms form-control"
                                   onchange="keyUp(this)"
                                   asp-for="@Model.Actual!.Lote" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                @lib_lenguajes.RsProductos.lbProveedor
                            </label>
                            <div class="col-lg-6">
                                <input id="nmProveedores"
                                   disabled="disabled"
                                   class="cts_forms form-control"
                                   onchange="keyUp(this)"
                                   asp-for="@Model.Actual!._Proveedor!.Nombre" />
                                <input type="submit"
                                   value=" "
                                   asp-page-handler="BtProveedores"
                                       class="btn btn-danger mt-2" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                @lib_lenguajes.RsProductos.lbCategoria
                            </label>
                            <div class="col-lg-6">
                                <input id="nmCategoria"
                                   disabled="disabled"
                                   class="cts_forms form-control"
                                   onchange="keyUp(this)"
                                   asp-for="@Model.Actual!._Categoria!.Nombre" />
                                <input type="submit"
                                   value=" "
                                   asp-page-handler="BtTipos"
                                   asp-route-data="Categoría"
                                       class="btn btn-danger mt-2" />
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync(
                    "../Emergentes/Mensajes.cshtml")
            }

            @if (Model.MostrarProveedores)
            {
                <div class='popup'>
                    <div class='pp_inner'>
                        <div style='width:95%'>
                            @await Html.PartialAsync(
                                "../Emergentes/ProveedoresPP.cshtml", Model.proveedoresPP)
                        </div>
                    </div>
                </div>
            }
            @if (Model.MostrarTipos)
            {
                <div class='popup'>
                    <div class='pp_inner'>
                        <div style='width:95%'>
                            @await Html.PartialAsync(
                                "../Emergentes/TiposPP.cshtml", Model.tiposPP)
                        </div>
                    </div>
                </div>
            }

            @if (Model.MostrarBorrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                @lib_lenguajes.RsMenu.lbMensaje
                            </h2>

                            <h4 align="left">
                                @lib_lenguajes.RsMenu.lbBorrarEntidad
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.Codigo
                                , &nbsp;
                                @Model.Actual!.Nombre
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                               value="@lib_lenguajes.RsMenu.lbBorrar"
                               asp-page-handler="BtBorrar"
                               class="btn btn-danger" />
                            <input type="submit"
                               value="@lib_lenguajes.RsMenu.lbCerrar"
                               asp-page-handler="BtCancelar"
                               class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.MostrarLista)
            {
                <div class="panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                @lib_lenguajes.RsProductos.clCodigo
                            </th>
                            <th>
                                @lib_lenguajes.RsProductos.clNombre
                            </th>
                            <th>
                                @lib_lenguajes.RsProductos.clValor
                            </th>
                            <th>
                                @lib_lenguajes.RsProductos.clCosto
                            </th>
                            <th>
                                @lib_lenguajes.RsProductos.clCantidad
                            </th>
                            <th>
                                @lib_lenguajes.RsProductos.clProveedor
                            </th>
                            <th class="cl_actions">
                                @lib_lenguajes.RsMenu.lbAction
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr onmouseover="changeOver(this)"
                                    onmouseout="changeOut(this)">
                                    <td>@elemento.Codigo</td>
                                    <td>@elemento.Nombre</td>
                                    <td>@elemento.Valor</td>
                                    <td>@elemento.Costo</td>
                                    <td>@elemento.Cantidad</td>
                                    <td>@elemento._Proveedor!.Nombre</td>
                                    <td>
                                        <input type="submit"
                                            value="@lib_lenguajes.RsMenu.lbModicar"
                                            asp-page-handler="BtModificar"
                                            class="btn btn-danger"
                                            asp-route-data="@asp_hoteles.Nucleo.EsconderID.Encriptar(elemento.Id)"/>
                                        <input type="submit"
                                            value="@lib_lenguajes.RsMenu.lbBorrar"
                                            asp-page-handler="BtBorrarVal"
                                            class="btn btn-danger"
                                            asp-route-data="@asp_hoteles.Nucleo.EsconderID.Encriptar(elemento.Id)"/>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>